<div class="right py-5 px-md-5">
    <div class="px-md-3">
        <div class="py-4">
            <div class="page-title pb-5  mb-1">Create category of incomes</div>
            <div>
                <input type="text" class="form-control text-black mb-3" placeholder="Name..." aria-label="Name..." id="input">
            </div>
            <div class="button d-flex align-items-center mt-4">
                <button class="btn btn-success me-3 d-flex align-items-center px-4 " id="buttonAdd">Create</button>
                <button class="btn btn-danger d-flex align-items-center px-4" id="buttonEsc">Cancel</button>
            </div>
        </div>
    </div>
</div>

