<div class="right py-5 px-md-5">
    <div class="px-md-3">
        <div class="py-4">
            <div class="page-title pb-5  mb-1" id="typeOperation">Edit incomes/expenses</div>
            <div>
                <input type="text" class="form-control text-black mb-3 bg-white" placeholder="Income" aria-label="Income"
                       id="type">

                <div class="input-group " id="category">
                    <select class="form-select form-control d-flex text-black text-decoration-none mb-3"
                            id="selectCategory">

                    </select>
                </div>
                <input type="text" class="form-control text-black mb-3" placeholder="500$" data-valuta="$"
                       data-centdivider="  " data-thousanddivider="." aria-label="Sum$" id="amount">
                <input type="date" class="form-control text-black  mb-3 " placeholder="11.09.2022" aria-label="Date"
                       id="dateOperation">
                <input type="text" class="form-control text-secondary mb-3" placeholder="Comment..." id="comment"
                       aria-label="Comment...">

            </div>
            <div class="button d-flex align-items-center mt-4">
                <button class="btn btn-success me-3 d-flex align-items-center px-4 " id="buttonEdit">Edit
                </button>
                <button class="btn btn-danger d-flex align-items-center px-4" id="buttonEsc">Cancel</button>
            </div>
        </div>
    </div>
</div>


