<!--<div>-->
    <div class="right py-5 px-xl-5">
        <div class="px-md-3">
            <div class="py-4 ">
            <div class="page-title pb-5 mb-1">Incomes</div>
                <div class="exp-inc-options row row-col-auto row-cols-xxl-3" id="income-options">
            </div>
        </div>
        </div>
    </div>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered p-4">
            <div class="modal-content d-flex align-items-center">
                <div class="modal-header border-0">Do you really want to delete a category? Related entries will be permanently deleted.</h5>
                </div>
                <div class="modal-footer border-0 d-flex align-items-center">
                    <button type="button" class="btn btn-success me-3 d-flex align-items-center px-4"
                            data-bs-dismiss="modal" id="delete" >Yes, delete it.
                    </button>
                    <button type="button" class="delete btn d-flex align-items-center " data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">

                    </button>
                    <button type="button" class="btn btn-danger d-flex align-items-center px-4" data-bs-dismiss="modal">
                       Don't delete
                    </button>
                </div>
            </div>
        </div>
    </div>
<!--</div>-->
