<!--    <div id="content">-->
<!--<canvas id="chart-expenses" width="450px" height="450px" class="chart"></canvas>-->

<div class="right py-5 px-lg-5"><!--//p-5-->
    <div class="px-md-3  "><!--px-3-->
        <div class="py-4 px-3 ">
            <div class="page-title pb-5 pt-3 mb-1" >Main</div>
            <div class="mt-4 mb-5">
                <div class="button myButtonBlock d-flex align-items-center justify-content-space-between mt-4 mb-1">
                    <div class="btn bt-date border-1 border-dark-subtle  me-4 mb-2 d-flex justify-content-center align-items-center" id="buttonNow">
                        Now</div>
                    <!--a href="#"-->
                    <div class="btn bt-date border-1 border-dark-subtle  me-4  mb-2 border-dark d-flex  justify-content-center align-items-center" id="buttonWeek">
                        Week</div>
                    <div class="btn bt-date border-1 border-dark-subtle  me-4 mb-2 d-flex  justify-content-center align-items-center" id="buttonMonth">
                        Month</div>
                    <div class="btn bt-date border-1 border-dark-subtle  me-4 mb-2 d-flex  justify-content-center align-items-center" id="buttonYear">
                        Year</div>
                    <div class="btn bt-date border-1 border-dark-subtle  me-4 mb-2 d-flex  justify-content-center align-items-center" id="buttonAll">
                        All</div>
                    <div class="btn bt-date border-1 border-dark-subtle  me-4 mb-2 d-flex  justify-content-center align-items-center" id="buttonInterval">
                        Interval</div>
                    <div class="  me-4 d-flex  justify-content-center align-items-center">
                        <label for="start" class="fw-bold ">from</label>
                        <input type="date" class="btn text-decoration-underline" id="start" placeholder='Date' name="trip-start" value="2022-07-11"/>
                    </div>
                    <div class="  me-4  d-flex  justify-content-center align-items-center">
                        <label for="end" class="fw-bold"> to </label>
                        <input type="date" id="end" class="btn text-decoration-underline" name="trip-end" value="2024-07-22" />
                    </div>
                </div>
            </div>
            <div class="chartPart">
                <div class="chartBlock">
                        <div class="main-title my-2">
                            <div class="charts d-flex justify-content-around">
                                <div class="">
                                    <div class="title card-title text-center d-none" id="incomesTitle">Incomes</div>
<!--                                    <div class="borderChart border-end border-1 border-secondary p-5">-->
                                    <div class="px-xs-5 py-5 d-flex justify-content-center">
                                        <canvas id="chart-income" class="chart"></canvas>
                                    </div>

                                </div>
                                <div class="borderChart border-start border-1 border-secondary"> </div>
                                <div class="">
                                    <div class="title card-title text-center d-none" id="expensesTitle">Expenses</div>
                                    <div class="px-xs-5 py-5 d-flex justify-content-center">
                                        <canvas id="chart-expenses" class="chart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>

<!--<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->
<!--<div style="width: 800px;"><canvas id="acquisitions"></canvas></div>-->

<!-- <script type="module" src="dimensions.js"></script> -->
<!--<script type="module" src="acquisitions.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>-->
<!--<script src="../src/components/common.js"></script>-->
<!--<script src="../src/components/chart.js"></script>-->

